<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estado_curriculo.nome %>
</p>

<%= link_to 'Edit', edit_estado_do_curriculo_path(@estado_curriculo) %> |
<%= link_to 'Back', estado_do_curriculos_path %>
