<div class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href=""><strong>Registar</strong></a> </li>
    <li><a href="">Particulares</a> </li>
    <li><a href="">Empresas</a> </li>
  </ul>
</div>


<%= render "Usuarios/shared/links" %>


<h2 class="container page-header" align="center">Particulares</h2>
<div class="container well" align="center">
  <div class="btn-group">
    <a class="btn btn-default btn-lg">Particulares</a>
    <a class="btn btn-default btn-lg">Empresas</a>
  </div>
</div>

