<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estado_propostum.nome %>
</p>

<%= link_to 'Edit', edit_estado_propostum_path(@estado_propostum) %> |
<%= link_to 'Back', estado_proposta_path %>
