<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_usuario.nome %>
</p>

<%= link_to 'Edit', edit_tipo_de_usuario_path(@tipo_usuario) %> |
<%= link_to 'Back', tipo_de_usuarios_path %>
