<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_concurso.nome %>
</p>

<%= link_to 'Edit', edit_tipo_de_concurso_path(@tipo_concurso) %> |
<%= link_to 'Back', tipo_de_concursos_path %>
